@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  scrollbar-color: rgb(156, 228, 156);
}

@layer base {
  body {
    @apply bg-[#F6F1F1] text-gray-800  transition-all duration-200 ease-in-out;
  }
}
